.add-info-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.step-trackers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 20px 0 50px 0;
}

.circular-step-tracker {
  background-color: #386641;
  opacity: 40%;
  height: 15px;
  width: 15px;
  border-radius: 360%;
  margin: 3px;
}

.this-step {
  opacity: 100%;
}


.add-info-h2 {
  color: #386641;
  font-size: larger;
  font-weight: 600;
}

.info-container {
  margin-top: 30px;
}

.add-info-text {
    padding: 20px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
}

.info-sliders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  gap: 20px;
}

.add-info-images{
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-right: 32px;
}

.temp-slider,
.sun-slider,
.day-slider {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.user_prefered_day,
.user_temperature,
.user_sun_exposure {
  flex-grow: 1;
}

#user_prefered_day {
  border: 3px solid #386641;
  border-radius: 60px;
  text-align: center;
}

#user_temperature,
#user_sun_exposure {
  background: #386641;
  border: solid 1px #386641;
  border-radius: 8px;
  height: 5px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
    -webkit-appearance: none;
}

#user_temperature::-webkit-slider-thumb,
#user_sun_exposure::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #386641;
  cursor: pointer;
}

#user_temperature::-moz-range-thumb,
#user_sun_exposure::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #386641;
  cursor: pointer;
}

.range-value {
  color: #386641;
  font-weight: bold;
}


.user_temperature, .user_sun_exposure, .user_prefered_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

hr {
  border: solid 1px #386641;
}
