.flex-button-profile {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.title-edit {
  display: flex;
  justify-content: center;
}

.btn-edit {
  background-color: #386641;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  color: white;
  margin-bottom: 20px;
}

#user_current_password {
  width: 600px;
  border-radius: 60px;
  border: 3px solid #386641;
  width: 600px;
}

.edit-form-center {
  width: 48%;
  margin: 0 auto;
}

.back-button-profile {
  margin-bottom: 30px;
}

.title-edit {
  margin: 0;
}
