.title-edit {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.btn-edit {
  background-color: #386641;
  padding: 10px 30px 10px 30px;
  border-radius: 30px;
  color: white;
  margin-bottom: 20px;
}

#user_current_password {
  width: 600px;
  border-radius: 60px;
  border: 3px solid #386641;
  width: 600px;
}

.edit-form-center {
  width: 48%;
  margin: 0 auto;
}
