<div class="footer">
  <div class="footer-container">
    <div class="footer-copyright">
      <%= link_to "/", class: "footer-brand" do %>
        <%= image_tag "logo.png" %>
      <% end %>
    </div>
    <div class="footer-links">
      <a href="https://github.com/ElTotoFuerte/plant-helper"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>
