<div class="banner">
  <div class="text-center ms-auto me-5 w-50">
    <h1>We Help You Take Care Of <br>Your Plants</h1>
    <p>A beaufitul home doesn’t have to be a struggle to maintain. <br>With Plant Helper, there is never the need to worry about your plants health. <br>Our website is made to cater to every environemnt. <br>Fill in your homes details to see your plants strive better than ever before.</p>
    <%= link_to "/my_plants", class: "CTA" do %>
      <button type="button" class="btn btn-primary">Help your plants!</button>
    <% end %>
  </div>
</div>

<div class="add-plant-card">
  <div class="plus-sign">+</div>
  <div class="add-plant-text">Add a plant</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis illum sit eos aut, recusandae maiores pariatur exercitationem impedit ea fugiat temporibus! Cumque laborum dolores id excepturi perspiciatis minima eaque minus?</p>
