<div class="container h1-container">
  <h1>Creating your tasks...</h1>
</div>
<div class="container animation-container">
  <%= image_tag("plantgrow.gif", style: "border-radius: 100%") %>
</div>

<script>
  window.setTimeout(function() {
      window.location.href = '<%= dashboard_path %>';
  }, 10000);
</script>
