<% @plants.each do |plant| %>
  <li>
    <%= link_to plant_path(plant) do %>
      <div class="card" style="width: 18rem;">
        <%= cl_image_tag plant.photos.first.key, height: 200, width: 200, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= plant.name %></h5>
        </div>
      </div>
    <% end %>
  </li>
<% end %>
