<div class="row">
  <% @plants.each do |plant| %>
    <div class="col-4">
      <%= link_to plant_path(plant) do %>
        <li style ="background-image: url(<%= cl_image_path plant.photos.first.key %>)">
          <p class="card-text"><%= plant.name %></p>
        </li>
      <% end %>
    </div>
  <% end %>
</div>
