<div class="card-trip">
  <% @plants.each do |plant| %>
    <%= cl_image_tag plant.photos.first.key, width: 125, height: 125, crop: :fill, class: "image-border" %>
    <div class="card-trip-infos">
      <div>
        <h2><%= plant.species %></h2>
        <h3><%= plant.name %></h3>
        <p><%= plant.description %></p>
      </div>
    </div>
  <% end %>
</div>
