// Banner design
.banner {
  background-image: linear-gradient(252.55deg, rgba(167, 201, 87, 0.8) -31.91%, rgba(167, 201, 87, 0.6) -6.84%, rgba(167, 201, 87, 0.4) 17.19%, white 57.82%, rgba(255, 255, 255, 0) 76.38%), url('banner.png');
  background-size: contain;
  background-position: left;
  padding: 150px 0;
  height: 706px;
  background-repeat: no-repeat;
}

.banner h1 {
  margin: 0;
  color: #386641;
  font-size: 48px;
  font-weight: bold;
  padding-top: 5px;
}

.banner p {
  font-size: 20px;
  color: black;
}
