.standard-button {
  border: 1px solid #6A994E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6A994E;
  border-radius: 50px;
  position: relative;
  width: 167px;
  height: 59px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.standard-button:hover {
  background-color: #6A994E;
  border: #6A994E;
}

.button-close {
  background-color: #BC4749;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  color: transparent;
  background-image: none;
}

.button-close:hover {
  background: transparent url("cross.png") center/1em auto no-repeat;
  background-color: #BC4749;
  border-radius: 100px;
  width: 10px;
  height: 10px;
}

.call-to-action-landing-page {
  text-decoration: underline #6A994E;
  width: 400px;
  font-size: 28px;
}

.call-to-action-landing-page:hover {
  text-decoration: underline #6A994E;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.calendar-button {
  border: 1px solid #386641;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #386641;
  border-radius: 50px;
  position: relative;
  width: 167px;
  height: 59px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.calendar-button:hover {
  background-color: #386641;
  border: #386641;
  box-shadow: 1px 1px 62px rgba(56, 102, 65, 0.25);
  transition: 1s;
}

#finish-btn {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 80px;
}
