.simple-calendar {
  table {
    min-height: 40vh;
  }
  .today {
    background-color: #F2E8CF;
  }
}

.user_task {
  border-radius: 50%;
  border: 1px solid #386641;
  height: 16px;
  width: 16px;
  object-fit: cover;
}

.user_task:hover {
  background: #386641;
  color: white;
}

.calendar-heading {
  display: flex;
}
