.footer {
  background: #F2E8CF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 12px;
  color: #386641;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #386641;
  text-decoration: none;
  font-size: 28px;
  padding: 0px 10px;
}

.footer-brand img {
  width: 160px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px 124px;
}
