.modal-header {
  border: none;
}

.search-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 52px;
  background: #FFFFFF;
  border: 1px solid #386641;
  box-sizing: border-box;
  border-radius: 50px;
}

.search-input {
  background-color: transparent;
  color: #386641;
  border: none;
  text-align: center;
  font-size: 24px;
}

input[type=text]:focus {
  background-color: transparent;
  color: #386641;
  border: none;
  text-align: center;
  font-size: 24px;
  border-radius: 50px;
  border-color: #386641;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(56, 102, 65, 0.6);
}

input[type=text]::placeholder {
  color: #386641;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}


.plant-info-popup {
  height: 100%;
  width: 100%;
  padding: 16px;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 10;
  border-radius: 32px;
  left: 0;
  right: 0;
  margin: auto;

  img {
    height: 400px;
    width : 300px;
    object-fit: cover;
    border-radius: 32px;
  }

  .extended-card-form {
    padding: 16px;
  }

  legend {
    float: none;
  }

  fieldset {
    display: flex;
    gap: 20px;

    input[type="radio"] {
      position: absolute;
      transform: scale(0);

      & + label[for$="user_plant_plant_age_advanced"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646686972/plant%20sample/plant-advanced_telfkr.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }
      & + label[for$="user_plant_plant_age_young"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646687213/plant%20sample/plant-young_nwym5m.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }
      & + label[for$="user_plant_plant_age_old"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646687213/plant%20sample/plant-old_yjy3cp.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }

      & + label[for$="user_plant_plant_health_bad"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646687221/plant%20sample/plant-bad_jbwpfq.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }
      & + label[for$="user_plant_plant_health_acceptable"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646687221/plant%20sample/plant-acceptable_x1td3v.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }
      & + label[for$="user_plant_plant_health_good"] {
        cursor: pointer;
        content: url("https://res.cloudinary.com/dcgubphgl/image/upload/v1646687221/plant%20sample/plant-good_het74o.png");
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #F2E8D0;
      }

      &:checked + label[for$="user_plant_plant_age_young"] {
        border: 2px solid #69994D;
      }
      &:checked + label[for$="user_plant_plant_age_advanced"] {
        border: 2px solid #69994D;
      }
      &:checked + label[for$="user_plant_plant_age_old"] {
        border: 2px solid #69994D;
      }

      &:checked + label[for$="user_plant_plant_health_bad"] {
        border: 2px solid #69994D;
      }
      &:checked + label[for$="user_plant_plant_health_acceptable"] {
        border: 2px solid #69994D;
      }
      &:checked + label[for$="user_plant_plant_health_good"] {
        border: 2px solid #69994D;
      }
    }
  }
}

.state {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: auto;
  }

  p {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.state-plant {
  margin-bottom: 15px;
}
