ul.plants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  padding-left: 0;
  // position: absolute;

  li {
    box-sizing: border-box;
    border-radius: 29px;
    // background: asset-url('default_plant_card_image.png');
    background-size: cover;
    background-position: center;
    width: 323px;
    height: 465px;
    list-style: none;
    flex: 0 0 33.333333%;
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    a {
      text-decoration: none;
      color: #386641;

      .card:hover {
        border: 1px solid #386641;
      }
    }
  }
}

.cardholder {
  background: asset-url('default_plant_card_image.png');
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40px;
  width: 150px;
  text-align: center;
  opacity: 80%;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  color: #386641;
}

.greyed-out-card {
  opacity: 20%;
  border: 3px dashed #386641;
}

.add-plant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 0;
  // position: absolute;
  flex-direction: column;
  width: 323px;
  height: 465px;
  box-sizing: border-box;
  border-radius: 29px;
  background-color: white;
  box-shadow: 1px 1px 31px rgba(0, 0, 0, 0.25);
}
.add-plant-card:hover {
  cursor: pointer;
}

.plus-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #386641;
  background-color: white;
  width: 165px;
  height: 165px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
  font-size: 60px;
  font-weight: 600;
}

.plus-sign:hover {
  box-shadow: 1px 1px 360px rgba(56, 102, 65, 0.25);
  transition: 2s;
}


.add-plant-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #386641;
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}


.no-plants {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #386641;
  font-style: italic;
}
