h1 {
  color: #386641;
}

h2 {
  color: #386641;
}

h3 {
  color: #386641;
}

h4 {
  color: #386641;
}

p {
  color: #386641;
}


.h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
